# Rename this file to .env and fill in your details

TURN_USERNAME=your_username_here
TURN_PASSWORD=your_secure_password_here

PUBLIC_IP=your_server_public_ip_here

PRIVATE_IP=your_server_private_ip_here